<div class="modal"
     tabindex="-1"
     id="success-modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <strong>
            Success!
          </strong>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                style="min-width: 100px">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
