<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
          crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/list-appointments-style.css}">
    <link rel="stylesheet" th:href="@{/css/common-style.css}">

    <!-- Icons -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
          href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>


    <title>MedicaPlus - Moje wizyty</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" th:href=" @{/patient/home}"><h3>MedicaPlus</h3></a>
        </div>
    </nav>
    <div class="container main-content">
        <div class="text-start px-4">
            <h3>Moje wizyty</h3>
        </div>
        <hr>
        <div class="container">
            <!-- Place for sort/filters -->

            <!-- List of appointments -->
            <div class="container me-3" th:object="${appointments}">
                <!-- Single appointment -->
                <div class="row justify-content-center ms-lg-3" th:each="appointment : ${appointments}">
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="row mx-3 mt-4 mb-4" id="visible-row">
                                    <div class="col-5 border-end">
                                        <div class="d-flex align-items-start">
                                            <i class="fi fi-rr-user-md icon-margin"></i>
                                            <label th:text="${appointment.doctor.firstAndLastName}"></label>
                                        </div>
                                        <div class="d-flex align-items-start">
                                            <i class="fi fi-rs-marker icon-margin"></i>
                                            <label th:text="|ul. ${appointment.department.address.street},
                                                        ${appointment.department.address.buildingNumber}|"></label>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="d-flex align-items-start">
                                            <i class="fi fi-rr-calendar-lines icon-margin"></i>
                                            <label th:text="${appointment.formattedDate}"></label>
                                        </div>
                                        <div class="d-flex align-items-start">
                                            <i class="fi fi-rr-clock-two icon-margin"></i>
                                            <label th:text="|${appointment.appointmentTime} - ${appointment.appointmentEndTime}|"></label>
                                        </div>
                                    </div>
                                    <div class="col-2 d-flex align-items-center px-1">
                                        <a class="card-dropdown-toggle" href="#" data-toggled="false">
                                            <div class="d-flex align-items-center">
                                                Więcej
                                                <i class="fi fi-rr-angle-small-right icon-margin"></i>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row mx-3 py-3" id="hidden-row">
                                    <div class="col-4 d-flex justify-content-center">
                                        <a class="btn btn-outline-primary"
                                           href="#">Profil lekarza</a>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center">
                                        <a class="btn btn-outline-warning"
                                           href="#">Edytuj</a>
                                    </div>
                                    <div class="col-4 d-flex justify-content-center">
                                        <a class="btn btn-outline-danger"
                                           onclick="return confirm('Odłować tę wizytę?')"
                                           th:href="@{/patient/cancel-appointment(appointmentId=${appointment.id})}">
                                            Odwołaj</a>
                                    </div>
                                    <div class="row d-block justify-content-left mt-3 ms-2 code-label">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Bootstrap JS-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>

<!-- Custom JS -->
<script th:src="@{/js/list-appointments-script.js}">
</script>


</body>
</html>