@import '../../../../styles.scss';

.registration-box {
    @include media-breakpoint-up(sm){
        box-shadow: #{$card-box-shadow};
        border-radius: #{$card-border-radius};
    }
}

.personal-data-box {
    @include media-breakpoint-up(lg){
        margin-right: 5vw;
    }

    @include media-breakpoint-up(xl){
        margin-right: 10vw;
    }

    @include media-breakpoint-up(xxl){
        margin-right: 15vw;
    }
}

.address-box {
    @include media-breakpoint-up(lg){
        margin-right: 20vw;
    }

    @include media-breakpoint-up(xl){
        margin-right: 25vw;
    }

    @include media-breakpoint-up(xxl){
        margin-right: 30vw;
    }
}

.password-box, .alert-danger {
    @include media-breakpoint-up(sm){
        margin-right: 40vw;
    }

    @include media-breakpoint-up(md){
        margin-right: 50vw;
    }
}

.section-divider {
    margin: 0;
    display: none;

    @include media-breakpoint-down(sm){
        display: block;
    }
}

.spinner-border {
    --bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
    margin-right: 10px;
}
