@import '../../styles.scss';

main {
    @media (min-width: 1068px) {
        background-image: url('../../assets/images/landing-page-image.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: scroll;
        max-height: 90vh;
        overflow-y: scroll;
    }
}

.heading {
    font-size: 2rem;
    font-weight: 900;
    text-shadow: 0 5px 20px rgba(255, 255, 255, 0.5);
}

.subheading {
    font-size: 1.8rem;
    font-weight: 300;
}

.w-lg-75 {
    @include media-breakpoint-up(lg) {
        width: 75% !important;
    }
}

.w-xl-75 {
    @include media-breakpoint-up(xl) {
        width: 75% !important;
    }
}