<main class="d-flex flex-column gap-5 px-5 py-4">
    <div class="mx-5">
        <section class="w-50">
            <p class="heading">
                Your health journey starts here. <br>
                Welcome to MedicaPlus.
            </p>
            <p class="subheading">
                Our dedicated team of medical professionals provides personalized care for all your needs.
            </p>
            <p>
                MedicaPlus is a patient-centered clinic focused on providing high-quality, compassionate care. We offer
                a warm and welcoming environment where your health is our priority.
            </p>
        </section>
        <section class="w-75">
            <h3>Get started</h3>
            <div class="d-flex gap-3 mt-4">
                <div class="card flex-grow-1 px-3 py-3">
                    <div class="card-body">
                        <div class="card-title w-75 mb-4">
                            Schedule your appointment
                        </div>
                        <div class="my-1 action-card-strip">
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="card flex-grow-1 px-3 pt-3">
                    <div class="card-body">
                        <div class="card-title w-75 mb-4">
                            Learn more about our services
                        </div>
                        <div class="my-1 action-card-strip">
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="w-75 mt-5">
            <h3>Benefits to choosing MedicaPlus</h3>
            <div style="height: 500px;"></div>
        </section>
    </div>
</main>