<main>
    <div class="mx-xl-5 mx-lg-4 mx-md-3 mx-sm-0 px-xl-5 px-4 py-4">
        <section class="w-lg-75 w-100">
                        <p class="heading">
                            Your health journey starts here. <br>
                            Welcome to MedicaPlus.
                        </p>
            <p class="subheading">
                Our dedicated team of medical professionals provides personalized care for all your needs.
            </p>
            <p>
                MedicaPlus is a patient-centered clinic focused on providing high-quality, compassionate care. We offer
                a warm and welcoming environment where your health is our priority.
            </p>
        </section>
        <br>
        <section>
            <strong>Get started</strong>
            <div class="d-flex flex-wrap flex-md-nowrap gap-3 mt-2">
                <div class="card px-lg-2 px-md-1 px-sm-1 py-1 py-lg-2 py-md-1 py-sm-1">
                    <div class="card-body">
                        <div class="card-title w-100 w-xl-75 mb-4">
                            Schedule your appointment
                        </div>
                        <div class="my-1 action-card-strip">
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
                <div class="card px-lg-2 px-md-1 px-sm-1 py-1 py-lg-2 py-md-1 py-sm-1">
                    <div class="card-body">
                        <div class="card-title w-100 w-xl-75 mb-4">
                            Learn more about our services
                        </div>
                        <div class="my-1 action-card-strip">
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section class="w-lg-75 w-100 mt-5">
            <strong>Benefits to choosing MedicaPlus</strong>
            
        </section>
    </div>
</main>