@import '../../styles.scss';

.navbar {
    background-color: $dark-green;
    --bs-navbar-brand-font-size: 2.5rem;
    --bs-navbar-brand-color: #{$beige};
    --bs-navbar-brand-hover-color: #{$beige};
    --bs-navbar-toggler-border-color: #{$beige};
    --bs-navbar-toggler-icon-bg: #{escape-svg(url('../../assets/icons/navbar-toggle-icon.svg'))};
    --bs-navbar-toggler-focus-width: 0;
}

.navbar-brand {
    font-weight: 900;
}

.navbar-nav {
    --bs-nav-link-color: #{$beige};
    --bs-nav-link-hover-color: #{$beige};
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-font-size: 1.3rem;
    --bs-nav-link-padding-y: .3rem;
}

.nav-link:hover {
    background-color: $light-green;
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
}

.nav-link {
    border-radius: 10px;
    transition: background-color .2s ease-in-out;
}