<div class="header">
    <div class="container d-flex justify-content-between py-1 px-5">
        <div class="d-flex gap-3 align-items-center">
            <a href="" class="header-title no-effect-anchor ">MedicaPlus</a>
            <span class="header-link">
                <a href="" class="no-effect-anchor">About</a>
            </span>
            <span class="header-link">
                <a href="" class="no-effect-anchor">Contact</a>
            </span>
        </div>

    <div class="d-flex gap-3 align-items-center">
        <span class="header-link">
            <div class="dropdown">
                <a href="" class="no-effect-anchor" data-bs-toggle="dropdown">
                    EN
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">English</a></li>
                    <li><a class="dropdown-item" href="#">Polish</a></li>
                    <li><a class="dropdown-item" href="#">Ukrainian</a></li>
                </ul>
            </div>
        </span>
        <button class="btn btn-primary">Sign In</button>
        <button class="btn btn-primary">Sign Up</button>
    </div>
    </div>
</div>
