@import "../../../styles.scss";

.section-box {
  @include media-breakpoint-up(sm){
    box-shadow: #{$card-box-shadow};
    border-radius: #{$card-border-radius};
  }

  @include media-breakpoint-up(lg){
    margin-right: 10%;
  }

  @include media-breakpoint-up(xl){
    margin-right: 15%;
  }

  @include media-breakpoint-up(xxl){
    margin-right: 20%;
  }
}

.heading {
  font-size: 2rem;
  font-weight: 900;
  color: $dark-green;
}

.subheading {
  font-size: 1.2rem;
  font-weight: 700;
  color: $dark-green;
}

.form-label {
  color: $gray;
  font-weight: 400;
  margin-bottom: 0;
}

.data-value {
  color: $dark-green;
  font-weight: 700;
}

.form-select {
  width: fit-content;
}

select:invalid {
  color: grey;
}

option {
  color: black;
  &[value=""][disabled] {
    display: none;
  }
}
