body {
    background-color: #f6f6f6;
}

button > span {
    font-size: 1.2rem;
}

.outer-box {
    background-color: #ffffff;
    max-width: 35vw;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    box-shadow: 4px 4px 23px 2px rgba(0, 0, 0, 0.25);
}

.header-container {
    height: 15%;
    background-color: #18a1a1;
}

.heading {
    font-size: 1.8rem;
    font-weight: 700;
    color: #F2E7DC;
}

.form-label {
    color: #595959;
    font-size: 1.2rem;
}

.invalid-feedback {
    font-size: 1.1rem;
}

