@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html {
    font-size: 20px;
}

body {
    font-family: 'Lato', sans-serif;
}

.header {
    background-color: #027373;
    height: 10vh;
    padding: 0 15vw;
}

.navbar-brand h2 {
    color: #F2E7DC;
    font-size: 1.8rem;
    font-weight: 700;
}

.navbar-brand:hover {
    color: #F2E7DC;
}

.nav-dropdown {
    background-color: transparent;
    border: none;
}

/*.nav-dropdown,
.nav-dropdown:hover,
.nav-dropdown:focus,
.nav-dropdown:active,
.nav-dropdown:visited,
.nav-dropdown:focus:not(:focus-visible),
.nav-dropdown:not(:focus):not(:active) {
    background-color: transparent;
    border: none;
}*/

.dropdown-menu a i {
    margin-right: 5px;
}

.nav-dropdown {
    background-color: transparent;
    border: none;
}

.fi-sr-user-gear {
    width: 30px;
    height: 30px;
}

.outer-box {
    padding: 0 15vw;
    background-color: #f2f2f2;
}

.main-content {
    min-height: 120vh;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 30px -16px rgba(66, 68, 90, 1);
    padding: 5vh 3vw;
}