html {
    font-size: 14px;
}

.main-content {
    height: 200vh; /*make height auto*/
    overflow: hidden;
    width: 70vw;
    margin-right: 15vw;
    margin-left: 15vw;
    background-color: white;
    box-shadow: 0 0 50px -20px #212529;
    padding: 2rem 2rem;
}