.greeting-title {
    font-weight: 400;
    font-size: 1.5rem;
}

.option-card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.option-card:hover {
    background-color: #efefef;
}

.option-card .card-body {
    padding: 1rem;
}

.option-card a {
    text-decoration: none;
    color: #212529;
}

.option-card i {
    font-size: 1rem;
}

.option-card h5 {
    /*font-size: 1.3rem;*/
    font-size: 1rem;
    margin-left: 10%;
}