/** {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

.icon-margin {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.card-dropdown-toggle {
    text-decoration: none;
    color: #b6b6b6;
    font-size: 1rem;
}

.card-dropdown-toggle i {
    transition: transform ease-in-out 0.3s;
}

.card {
    /*box-sizing: border-box;*/
    height: unset;
    border: 1px #c5bdbc solid;
    border-radius: 20px;
    margin: 0.5rem 0 1rem 0;
    display: block;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.card-dropdown-toggle:hover {
    color: #838383;
}

.visible-row {

}

.hidden-row {
    border-top: 1px #c5bdbc solid;
}

/*.code-label {
    font-size: 0.8rem;
    color: #838383;
}*/

.no-appointments-label {
    color: #A3A3A3;
    font-size: 1.3rem;
}
