form {
    width: 30vw;
}

a {
    text-decoration: none;
    color: #8d8d8d;
}

a:hover {
    text-decoration: none;
    color: #6e6e6e;
}

.error {
    background-color: rgba(214, 0, 16, 0.13);
    color: #a90018;
    border: 1px solid #a90018;
}