.outer-box {
    background-color: #ffffff;
    max-width: 35vw;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    box-shadow: 4px 4px 23px 2px rgba(0, 0, 0, 0.25);
}

.header-container {
    height: 15%;
    background-color: #18a1a1;
}

.heading {
    font-size: 1.5rem;
    font-weight: 700;
    color: #F2E7DC;
}

.alert {
    margin: 0;
}

.form-label {
    color: #595959;
}

/*.btn-primary > span {
    font-size: 1.2rem;
}*/

hr {
    margin: 0;
}

a {
    text-decoration: none;
    color: #8d8d8d;
}

a:hover {
    text-decoration: none;
    color: #6e6e6e;
}

