<main class="d-flex justify-content-sm-center align-items-sm-center align-items-start">
    <form class="form-box px-4 py-4 d-flex flex-column gap-3 align-items-start needs-validation" novalidate [formGroup]="loginForm">
        <span class="title">Sign in</span>
        <div class="alert alert-danger d-none align-items-center w-100 m-0" role="alert" id="invalidCredentialsAlert">
            <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            <div>
              Invalid email or password provided
            </div>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control" id="emailInput" placeholder="john.doe@example.com" [formControl]="emailControl" (focus)="hideAlert()" #emailInput>
            <label for="emailInput" #emailLabel>Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="passwordInput" placeholder="********" [formControl]="passwordControl" (focus)="hideAlert()" #passwordInput>
            <label for="passwordInput" #passwordLabel>Password</label>
        </div>
        <div class="d-flex gap-3 align-items-center">
            <button class="btn btn-primary px-4" type="submit" (click)="onSubmit()">OK</button>
            <a class="link" href="#">I forgot my password</a>
        </div>
        <div>
            <span class="text-small">
                Don't have an account yet?
            </span>
            <a href="#" class="link">Sign up</a>
        </div>
    </form>
</main>