<main class="d-flex justify-content-sm-center align-items-sm-center align-items-start">
    <form class="form-box px-4 py-4 d-flex flex-column gap-3 align-items-start needs-validation" novalidate [formGroup]="loginForm">
        <span class="title">Sign in</span>
        <div class="form-floating">
            <input type="email" class="form-control" id="emailInput" placeholder="john.doe@example.com" [formControl]="emailControl" #emailInput>
            <label for="emailInput" #emailLabel>Email</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="passwordInput" placeholder="********" [formControl]="passwordControl" #passwordInput>
            <label for="passwordInput" #passwordLabel>Password</label>
        </div>
        <div class="d-flex gap-3 align-items-center">
            <button class="btn btn-primary px-4" type="submit" (click)="onSubmit()">OK</button>
            <a class="link" href="#">I forgot my password</a>
        </div>
        <div>
            <span class="text-small">
                Don't have an account yet?
            </span>
            <a href="#" class="link">Sign up</a>
        </div>
    </form>
</main>