<div class="mx-xl-5 mx-lg-4 mx-md-3 mx-sm-0 px-xl-5 px-4 py-4">
  <p class="heading">
    About us
  </p>
  <br>
  <div class="row g-5">
    <div class="col-12 col-md-6 d-flex align-items-center order-md-2">
      <img src="../../../assets/images/about-image-1.png" alt="Clinic exam room image">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center text-primary order-md-1">
      At the heart of our community, our clinic stands as a beacon of health and wellness. With a commitment to providing comprehensive and compassionate care, we are dedicated to enhancing the well-being of our patients. Our state-of-the-art facility is equipped with the latest medical technology, ensuring that every diagnosis is precise and every treatment, effective.
      <br>Our team of highly skilled professionals is driven by a passion for medicine and a deep respect for life. From our friendly administrative staff to our expert medical practitioners, we work in harmony to create a welcoming and supportive environment for all who walk through our doors.
    </div>
  </div>
  <br>
  <div class="row g-5">
    <div class="col-12 col-md-6 d-flex align-items-center">
      <img src="../../../assets/images/about-image-2.png" alt="Clinic building image">
    </div>
    <div class="col-12 col-md-6 d-flex align-items-center text-primary">
      We offer a wide range of services, tailored to meet the diverse needs of our patients. Whether it’s preventive care, acute treatments, or chronic disease management, our approach is holistic and patient-centered. We believe in empowering our patients with knowledge and involving them in their own care, for a more personalized and effective healthcare experience.
      <br>Your health is our top priority, and we strive to make your visit as comfortable and convenient as possible. We value the trust you place in us and are honored to be a part of your journey to optimal health.
    </div>
  </div>
</div>
