<div class="mx-xl-5 mx-lg-4 mx-md-3 mx-0 px-xl-5 px-4 py-4">
  <h2 class="heading mb-sm-4 mb-3">
    Hello, {{firstName}}!
  </h2>
  <div class="row g-3">
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card action-card px-lg-2 px-md-1 px-sm-1 py-1 py-lg-2 py-md-1 py-sm-1">
        <div class="card-body d-flex flex-column justify-content-between">
          <div class="card-title d-flex align-items-center flex-grow-1">
            Sign up for appointment
          </div>
          <div class="action-card-strip">
            <a href="#" class="stretched-link" [routerLink]="['/create-appointment']"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card action-card px-lg-2 px-md-1 px-sm-1 py-1 py-lg-2 py-md-1 py-sm-1">
        <div class="card-body d-flex flex-column justify-content-between">
          <div class="card-title d-flex align-items-center flex-grow-1">
            My appointments
          </div>
          <div class="action-card-strip">
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card action-card px-lg-2 px-md-1 px-sm-1 py-1 py-lg-2 py-md-1 py-sm-1">
        <div class="card-body d-flex flex-column justify-content-between">
          <div class="card-title d-flex align-items-center flex-grow-1">
            My profile
          </div>
          <div class="action-card-strip">
            <a href="#" class="stretched-link"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
