@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');
@import 'variables.scss';
@import 'bootstrap';

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;

    @include media-breakpoint-up(md) {
        font-size: 19px;
    }

    @include media-breakpoint-up(lg) {
        font-size: 20px;
    }
}

body {
    font-family: 'Lato', sans-serif;
    color: $blueish-black;
}

.btn-primary {
    @include button-variant($orange, $orange, $blueish-black, darken($orange, 5%), darken($orange, 5%), $beige, darken($orange, 10%), darken($orange, 1%), $beige);
    --bs-btn-font-weight: 700;
    --bs-btn-font-size: .9rem;
}

.btn-danger {
  @include button-variant($light-red, $light-red, $beige, darken($light-red, 5%), darken($light-red, 5%), $beige, darken($light-red, 10%), darken($light-red, 1%), $beige);
  --bs-btn-font-weight: 700;
  --bs-btn-font-size: .9rem;
}

strong {
    font-size: 1.5rem;
    font-weight: 700;
}

.card {
    box-shadow: $card-box-shadow;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 700;
}

.card-text {
    font-weight: 300;
}

.action-card {
  min-height: 9rem;
}

.action-card-strip {
    background-color: $dark-green;
    width: 50%;
    height: 6px;
    transition: .5s ease;

    @include media-breakpoint-down(md) {
        width: 75%;
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.card:hover .action-card-strip {
    width: 100%;
    transition: .5s ease;
}

label.invalid {
    color: #{$light-red};
}

.alert svg {
    width: 1.3rem;
}

.link {
    color: #{$gray};
    text-decoration: underline;
    font-size: 0.7rem;
}

.link:hover {
    color: #{$dark-green};
}

.text-primary {
    color: rgba($dark-green, .7) !important;
}

.text-warning {
  color: $beige !important;
}

.invalid-msg {
  color: $light-red;
  font-size: 0.9rem;
}
