$orange: #F2A71B;
$beige: #FFF4BC;
$blueish-black: #011F26;
$dark-green: #194C39;
$light-green: #36A47C;
$gray: #797979;
$light-grey: #BFBFBF;
$light-red: #DC6868;

$focus-ring-box-shadow: 0 0 0 .25rem rgba($light-green, 0.25);

$card-box-shadow: 3px 5px 15px 1px rgba(0, 0, 0, 0.25);
$card-border-radius: 10px;

$form-check-input-checked-bg-color: $light-green;
$form-check-input-focus-box-shadow: $focus-ring-box-shadow;
$form-check-input-focus-border: $light-green;
$input-focus-box-shadow: $focus-ring-box-shadow;
$form-select-focus-box-shadow: $focus-ring-box-shadow;
