<div class="mx-xl-5 mx-lg-4 mx-md-3 mx-sm-0 px-xl-5 px-4 py-4">
  <success-modal (hide)="redirect('/')"></success-modal>
  <form novalidate class="form-box needs-validation"
        [formGroup]="appointmentForm"
        (ngSubmit)="onSubmit()">
    <div class="mb-sm-4 mb-3">
      <h2 class="heading">
        Create appointment
      </h2>
    </div>
    <section class="mb-4 px-lg-5 px-sm-4 py-sm-4 py-3 d-flex section-box flex-column flex-md-row">
      <div class="d-flex flex-column gap-3 me-5">
        <div>
          <label for="specialization" class="form-label">Specialization</label>
          <select required
                  class="form-select"
                  id="specialization"
                  style="min-width: 300px"
                  formControlName="specialization"
                  (change)="populateDepartments()"
                  [ngClass]="{'is-invalid': appointmentForm.get('specialization').invalid && appointmentForm.get('specialization').touched}"
                  #specialization>
            <option value="" disabled selected>Choose specialization...</option>
          </select>
          <div class="invalid-msg"
               *ngIf="appointmentForm.get('specialization').invalid && appointmentForm.get('specialization').touched">
            Specialization is required
          </div>
        </div>
        <div>
          <label for="department" class="form-label">Department</label>
          <select required
                  class="form-select"
                  id="department"
                  formControlName="department"
                  style="min-width: 300px"
                  (change)="populateDoctors()"
                  [ngClass]="{'is-invalid': appointmentForm.get('department').invalid && appointmentForm.get('department').touched}"
                  #department>
            <option value="" disabled selected>Choose department...</option>
            <option value="#" disabled class="empty-select-msg" *ngIf="!specialization.value">
              Choose specialization first
            </option>
          </select>
          <div class="invalid-msg"
               *ngIf="appointmentForm.get('department').invalid && appointmentForm.get('department').touched">
            Department is required
          </div>
        </div>
        <div>
          <label for="doctor" class="form-label">Doctor</label>
          <select required
                  class="form-select"
                  id="doctor"
                  formControlName="doctor"
                  style="min-width: 300px"
                  (change)="populateTimes()"
                  #doctor>
            <option value="" disabled selected>Choose doctor...</option>
            <option value="#" disabled class="empty-select-msg" *ngIf="!department.value">
              Choose department first
            </option>
          </select>
        </div>
      </div>
      <div class="d-flex flex-column gap-3 mt-3 mt-md-0">
        <div>
          <label for="date" class="form-label">Date</label>
          <input class="form-control"
                 type="text"
                 id="date"
                 formControlName="date"
                 style="width: fit-content"
                 (change)="populateTimes()"
                 [ngClass]="{'is-invalid': appointmentForm.get('date').invalid && appointmentForm.get('date').touched}"
                 #date>
          <div class="invalid-msg" *ngIf="appointmentForm.get('date').invalid && appointmentForm.get('date').touched">
            Date is required
          </div>
        </div>
        <div>
          <label for="time" class="form-label">Time</label>
          <select required
                  class="form-select"
                  id="time"
                  style="width: fit-content"
                  formControlName="time"
                  [ngClass]="{'is-invalid': appointmentForm.get('time').invalid && appointmentForm.get('time').touched}"
                  #time>
            <option value="" disabled selected>Choose time...</option>
            <option value="#"
                    disabled
                    class="empty-select-msg"
                    *ngIf="department.value === '' || doctor.value === '' || date.value === ''"
                    [innerText]="!department.value ? 'Choose department first' : (!doctor.value ? 'Choose doctor first': '')">
            </option>
          </select>
          <div class="invalid-msg" *ngIf="appointmentForm.get('time').invalid && appointmentForm.get('time').touched">
            Time is required
          </div>
        </div>
      </div>
    </section>
    <section class="mb-4 px-lg-5 px-sm-4 py-sm-4 py-3 section-box">
      <h3 class="subheading mb-3">Personal data</h3>
      <div formGroupName="personalData">
        <div class="row mb-3 gy-3">
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-floating">
              <input type="text" class="form-control" id="first-name" placeholder="John"
                     [ngClass]="{'is-invalid': appointmentForm.get('personalData').get('firstName')?.invalid && appointmentForm.get('personalData').get('firstName')?.touched}"
                     formControlName="firstName">
              <label for="first-name">First name</label>
            </div>
            <div class="invalid-msg"
                 *ngIf="appointmentForm.get('personalData').get('firstName')?.invalid && appointmentForm.get('personalData').get('firstName')?.touched">
              First name is required
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-floating">
              <input type="text" class="form-control" id="last-name" placeholder="Doe"
                     [ngClass]="{'is-invalid': appointmentForm.get('personalData').get('lastName')?.invalid && appointmentForm.get('personalData').get('lastName')?.touched}"
                     formControlName="lastName">
              <label for="last-name">Last name</label>
            </div>
            <div class="invalid-msg"
                 *ngIf="appointmentForm.get('personalData').get('lastName')?.invalid && appointmentForm.get('personalData').get('lastName')?.touched">
              Last name is required
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-floating">
              <input type="text" class="form-control" id="pesel" placeholder="00000000000"
                     [ngClass]="{'is-invalid': appointmentForm.get('personalData').get('pesel')?.invalid && appointmentForm.get('personalData').get('pesel')?.touched}"
                     formControlName="pesel">
              <label for="pesel">PESEL</label>
            </div>
            <div class="invalid-msg"
                 *ngIf="appointmentForm.get('personalData').get('pesel')?.invalid && appointmentForm.get('personalData').get('pesel')?.touched"
                 [innerText]="getInvalidMsgForPesel()">
            </div>
          </div>
        </div>
        <div class="row gy-3">
          <div class="col-sm-6 col-12">
            <div class="input-group">
              <span class="input-group-text">+48</span>
              <div class="form-floating">
                <input type="text" class="form-control" id="phone-number" placeholder="+48000000000"
                       [ngClass]="{'is-invalid': appointmentForm.get('personalData').get('phoneNumber')?.invalid && appointmentForm.get('personalData').get('phoneNumber')?.touched}"
                       formControlName="phoneNumber">
                <label for="phone-number">Phone number</label>
              </div>
            </div>
            <div class="invalid-msg"
                 *ngIf="appointmentForm.get('personalData').get('phoneNumber')?.invalid && appointmentForm.get('personalData').get('phoneNumber')?.touched"
                 [innerText]="getInvalidMsgForPhoneNumber()">
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="form-floating">
              <input type="text" class="form-control" id="email" placeholder="john.doe@example.com"
                     [ngClass]="{'is-invalid': appointmentForm.get('personalData').get('email')?.invalid && appointmentForm.get('personalData').get('email')?.touched}"
                     formControlName="email">
              <label for="email">Email</label>
            </div>
            <div class="invalid-msg"
                 *ngIf="appointmentForm.get('personalData').get('email')?.invalid && appointmentForm.get('personalData').get('email')?.touched"
                 [innerText]="getInvalidMsgForEmail()">
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5" formGroupName="address">
        <h3 class="subheading mb-3">Address</h3>
        <div class="row mb-3 gy-3">
          <div class="col-sm-6 col-12">
            <div class="form-floating">
              <input type="text" class="form-control" id="city" placeholder="Lublin" formControlName="city"
                     [ngClass]="{'is-invalid': appointmentForm.get('address')?.get('city')?.invalid && appointmentForm.get('address')?.get('city')?.touched}">
              <label for="city">City</label>
            </div>
            <div class="invalid-msg"
                 *ngIf="appointmentForm.get('address')?.get('city')?.invalid && appointmentForm.get('address')?.get('city')?.touched">
              City is required
            </div>
          </div>
          <div class="col-sm-6 col-12">
            <div class="form-floating">
              <input type="text" class="form-control" id="street" placeholder="Nadbystrzycka"
                     [ngClass]="{'is-invalid': appointmentForm.get('address')?.get('street')?.invalid && appointmentForm.get('address')?.get('street')?.touched}"
                     formControlName="street">
              <label for="street">Street</label>
            </div>
            <div class="invalid-msg"
                 *ngIf="appointmentForm.get('address')?.get('street')?.invalid && appointmentForm.get('address')?.get('street')?.touched">
              Street is required
            </div>
          </div>
        </div>
        <div class="row gy-3">
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-floating">
              <input type="text" class="form-control" id="building" placeholder="00"
                     [ngClass]="{'is-invalid': appointmentForm.get('address')?.get('building')?.invalid && appointmentForm.get('address')?.get('building')?.touched}"
                     formControlName="building">
              <label for="building">Building</label>
            </div>
            <div class="invalid-msg"
                 *ngIf="appointmentForm.get('address')?.get('building')?.invalid && appointmentForm.get('address')?.get('building')?.touched">
              Building is required
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-floating">
              <input type="text" class="form-control" id="flat" placeholder="00" formControlName="flat">
              <label for="flat">Flat</label>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 col-12">
            <div class="form-floating">
              <input type="text" class="form-control" id="zip-code" placeholder="00-000"
                     [ngClass]="{'is-invalid': appointmentForm.get('address')?.get('zipCode')?.invalid && appointmentForm.get('address')?.get('zipCode')?.touched}"
                     formControlName="zipCode">
              <label for="zip-code">Zip code</label>
            </div>
            <div class="invalid-msg"
                 *ngIf="appointmentForm.get('address')?.get('zipCode')?.invalid && appointmentForm.get('address')?.get('zipCode')?.touched"
                 [innerText]="getInvalidMsgForZipCode()">
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="form-check mb-3">
      <input class="form-check-input"
             type="checkbox" value=""
             id="personal-data-consent"
             formControlName="personalDataConsent"
             [ngClass]="{'is-invalid': appointmentForm.get('personalDataConsent')?.invalid && appointmentForm.get('personalDataConsent')?.touched}">
      <label class="form-check-label"
             for="personal-data-consent">
        I consent to processing of my personal data
      </label>
    </div>
    <div class="mt-3">
      <button class="btn btn-primary" type="submit" [disabled]="appointmentForm.invalid">
        <div class="spinner-border text-primary d-none" role="status" #submitButtonSpinner>
          <span class="visually-hidden">Loading...</span>
        </div>
        Sign up
      </button>
    </div>
  </form>
</div>
