@import '../../../../styles.scss';

main {
    min-height: 90vh;
}

.form-box {
    width: 100vw;

    @include media-breakpoint-up(sm){
        width: 70vw;
        border-radius: 10px;
        box-shadow: 3px 5px 15px 1px rgb(0, 0, 0, 0.25);
    }

    @include media-breakpoint-up(md){
        width: 60vw;
    }

    @include media-breakpoint-up(lg){
        width: 50vw;
    }

    @include media-breakpoint-up(xl){
        width: 40vw;
    }

    @include media-breakpoint-up(xxl){
        width: 35vw;
    }
    
}

.title {
    color: #{$dark-green};
    font-size: 2rem;
    font-weight: 900;
}

.text-small {
    color: #{$grey};
    font-size: 0.7rem;
}

.form-floating {
    width: 100%;
}